{% extends 'base.html' %}
{% block title %}Doctors {% endblock %}
{% block styles %}
<style>
      ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(215, 215, 215); 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #007BFF; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007BFE; 
}
 * {
  box-sizing: border-box;
}

body {
  font-family: 'Aleo', serif;

}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 15px;
  margin-top:20px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 0px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .card h3{
  text-align: right;
  font-size: 18px;
  margin-top: 30px;

}
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 2px solid #007BFF;
}
.card h3{
  text-align: center;
}
</style>
{% endblock %}
{% block content %} 
<div class="doctors">
<h2 class="text-center fw-bold">Doctors</h2>
</div>
<div class="row">
  {% for doctors in doctors %}
  <div class="column">
    <div class="card">
      <img src="{{doctors.Doc_image.url}}" style="height:120px;width:120px;"/>
      <h3>{{doctors.Doc_name}}</h3>
      <p>{{doctors.dep_name}}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}